<div class="modal-dialog mt-4">
    <div class="modal-content" style="background-color: #f0f0f0; color: #333;">
        <form>
            <div class="modal-header d-flex justify-content-center" style="background-color: #007bff;">
                <h5 class="modal-title text-light">Event Test</h5>
            </div>
            
            <div class="modal-body">
                <label class="form-label">Event Name</label>
                <input type="text" name="Nome_E" class="form-control text-dark" style="background-color: #DDDDDD;"
                    id="Nome_E_id" required />
            </div>
            <div class="modal-body">
                <label class="form-label">Location</label>
                <input type="text" name="localisation" class="form-control text-dark" style="background-color: #DDDDDD;"
                    id="localisation_id" required />
            </div>
            <div class="modal-body">
                <label class="form-label">Amount</label>
                <input type="number" name="amount" class="form-control text-dark" style="background-color: #DDDDDD;"
                    id="amount_id" required />
            </div>
            <div class="modal-body">
                <label class="form-label">Date</label>
                <input type="datetime-local" name="Date_P" class="form-control text-dark"
                    style="background-color: #DDDDDD;" id="Date_E_id" required />
            </div>
            <div class="modal-body">
                <label class="form-label">Start Time</label>
                <input type="time" step="1" name="dateDebut" class="form-control text-dark"
                    style="background-color: #DDDDDD;" id="dateDebut_id" required />
            </div>
            <div class="modal-body">
                <label class="form-label">End Time</label>
                <input type="time" step="1" name="dateFin" class="form-control text-dark"
                    style="background-color: #DDDDDD;" id="dateFin_id" required />
            </div>
            <div class="modal-body">
                <label class="form-label">Max User Number</label>
                <input type="number" name="nombreMaxUser" class="form-control text-dark"
                    style="background-color: #DDDDDD;" id="nombreMaxUser_id" required />
            </div>
            <div class="modal-body">
                <label class="form-label">Description</label>
                <input type="text" name="descriptionAgenda" class="form-control text-dark"
                    style="background-color: #DDDDDD;" id="descriptionAgenda_id" required />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </form>
    </div>
</div>
