<div class="row bg-white">
    <div class="col-12 bg-white">
        <div class="card">
            <div class="card-body bg-white">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="card-title">Events</h4>
                        <h5 class="card-subtitle text-muted">Overview of the Events</h5>
                    </div>
                    <div class="mt-1"><button class="btn btn-primary" data-toggle="modal" data-target="#modal_event">Add
                            event</button></div>
                </div>
                <div class="container mt-4">
                    <div class="row justify-content-center">
                        <div class="col-md-6 d-flex">
                            <div class="input-group">
                                <select class="form-control" id="statusFilter">
                                    <option value="OPEN">Open</option>
                                    <option value="CLOSED">Closed</option>
                                    <option value="IN_PROGRESS">In Progress</option>
                                </select>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary ms-1">Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive bg-white mt-4">
                    <table class="table align-middle text-nowrap bg-white" id="EventsTable">
                        <thead>
                            <tr>
                                <th class="text-dark font-medium fs-4">Name event</th>
                                <th class="text-dark font-medium fs-4">Date</th>
                                <th class="text-dark font-medium fs-4">Start Time</th>
                                <th class="text-dark font-medium fs-4">End Time</th>
                                <th class="text-dark font-medium fs-4">Location</th>
                                <th class="text-dark font-medium fs-4">Total Participants</th>
                                <th class="text-dark font-medium fs-4">Amount</th>
                                <th class="text-dark font-medium fs-4">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let event of EventById">
                                <td>
                                    <h5 class="mb-0 fw-normal">{{ event.nomEvenement | slice:0:10 }} ..</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{event.createdAt}}</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{event.dateDebut}}</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{event.dateFin}}</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{event.localisation | slice:0:10 }} ..</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{event.nombreMaxUser}}</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{event.amount}}$</h5>
                                </td>
                                <td class="d-flex justify-content-evenly">
                                    <button type="submit" class="btn btn-info opacity-75"
                                        (click)="event.id !== undefined ? getEventById(event.id.toString()) : null" data-toggle="modal" data-target="#modal_event1">View</button>
                                    <button type="submit" class="btn btn-danger ms-1">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade mt-5" id="modal_event" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Add Event</h5>
                    <a href="#" class="btn-close" data-bs-dismiss="modal"></a>
                </div>
                <div class="modal-body">
                    <label class="form-label">Event Nome</label>
                    <input type="text" name="Nome_E" class="form-control text-dark" style="background-color : #DDDDDD"
                        id="Nome_E_id" required [(ngModel)]="Event.nomEvenement" />
                </div>
                <div class="modal-body">
                    <label class="form-label">Localisation</label>
                    <input type="text" name="localisation" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="localisation_id" required
                        [(ngModel)]="Event.localisation" />
                </div>
                <div class="modal-body">
                    <label class="form-label">amount</label>
                    <input type="number" name="amount" class="form-control text-dark" style="background-color : #DDDDDD"
                        id="amount_id" required [(ngModel)]="Event.amount" />
                </div>
                <div class="modal-body">
                    <label class="form-label">Date</label>
                    <input type="datetime-local" name="Date_P" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="Date_E_id" required [(ngModel)]="Event.createdAt" />
                </div>
                <div class="modal-body">
                    <label class="form-label">Date Debut</label>
                    <input type="time" step="1" name="dateDebut" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="dateDebut_id" required [(ngModel)]="Event.dateDebut" />
                </div>
                <div class="modal-body">
                    <label class="form-label">Date Fin</label>
                    <input type="time" step="1" name="dateFin" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="dateFin_id" required [(ngModel)]="Event.dateFin" />
                </div>
                <div class="modal-body">
                    <label class="form-label">Max User Number</label>
                    <input type="number" name="nombreMaxUser" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="nombreMaxUser_id" required
                        [(ngModel)]="Event.nombreMaxUser" />
                </div>
                <div class="modal-body">
                    <label class="form-label">Description</label>
                    <input type="text" name="descriptionAgenda" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="descriptionAgenda_id" required
                        [(ngModel)]="Event.descriptionAgenda" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal"
                        (click)="createNewEvent()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="modal_event1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Add Event</h5>
                    <a href="#" class="btn-close" data-bs-dismiss="modal"></a>
                </div>
                <div class="modal-body">
                    <label class="form-label">Event Nome</label>
                    <input type="text" name="Nome_E" class="form-control text-dark" style="background-color : #DDDDDD"
                        id="Nome_E_id" required [(ngModel)]="Event.nomEvenement" />
                </div>
                <div class="modal-body">
                    <label class="form-label">Localisation</label>
                    <input type="text" name="localisation" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="localisation_id" required
                        [(ngModel)]="Event.localisation" />
                </div>
                <div class="modal-body">
                    <label class="form-label">amount</label>
                    <input type="number" name="amount" class="form-control text-dark" style="background-color : #DDDDDD"
                        id="amount_id" required [(ngModel)]="Event.amount" />
                </div>
                <div class="modal-body">
                    <label class="form-label">Date</label>
                    <input type="datetime-local" name="Date_P" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="Date_E_id" required [(ngModel)]="Event.createdAt" />
                </div>
                <div class="modal-body">
                    <label class="form-label">Date Debut</label>
                    <input type="time" step="1" name="dateDebut" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="dateDebut_id" required [(ngModel)]="Event.dateDebut" />
                </div>
                <div class="modal-body">
                    <label class="form-label">Date Fin</label>
                    <input type="time" step="1" name="dateFin" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="dateFin_id" required [(ngModel)]="Event.dateFin" />
                </div>
                <div class="modal-body">
                    <label class="form-label">Max User Number</label>
                    <input type="number" name="nombreMaxUser" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="nombreMaxUser_id" required
                        [(ngModel)]="Event.nombreMaxUser" />
                </div>
                <div class="modal-body">
                    <label class="form-label">Description</label>
                    <input type="text" name="descriptionAgenda" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="descriptionAgenda_id" required
                        [(ngModel)]="Event.descriptionAgenda" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal"
                        (click)="createNewEvent()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>