<div class="row bg-white">
    <div class="col-12 bg-white">
        <div class="card">
            <div class="card-body bg-white">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="card-title">Events</h4>
                        <h5 class="card-subtitle text-muted">Overview of the Events</h5>
                    </div>
                    <div class="mt-1"><button class="btn btn-primary" data-toggle="modal" data-target="#modal-event" >Add
                            event</button></div>
                </div>
                <div class="container mt-4">
                    <div class="row justify-content-center">
                        <div class="col-md-6 d-flex">
                            <div class="input-group">
                                <select class="form-control" id="statusFilter">
                                    <option value="OPEN">Open</option>
                                    <option value="CLOSED">Closed</option>
                                    <option value="IN_PROGRESS">In Progress</option>
                                </select>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary ms-1">Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive bg-white mt-4">
                    <table class="table align-middle text-nowrap bg-white" id="EventsTable">
                        <thead>
                            <tr>
                                <th class="text-dark font-medium fs-4">Code</th>
                                <th class="text-dark font-medium fs-4">Date</th>
                                <th class="text-dark font-medium fs-4">Start Time</th>
                                <th class="text-dark font-medium fs-4">End Time</th>
                                <th class="text-dark font-medium fs-4">Location</th>
                                <th class="text-dark font-medium fs-4">Total Participants</th>
                                <th class="text-dark font-medium fs-4">Amount</th>
                                <th class="text-dark font-medium fs-4">Status</th>
                                <th class="text-dark font-medium fs-4">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h5 class="mb-0 fw-normal"></h5>
                                </td>
                                <td class="fs-4"></td>
                                <td>
                                    <h5 class="mb-0 fw-normal"></h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal"></h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal"></h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal"></h5>
                                </td>
                                <td class="fs-4"></td>
                                <td>
                                    <h5 class="mb-0 fw-normal"></h5>
                                </td>
                                <td class="d-flex justify-content-evenly">
                                    <button type="submit" class="btn btn-info opacity-75">View</button>
                                    <button type="submit" class="btn btn-success ms-1">Edit</button>
                                    <button type="submit" class="btn btn-danger ms-1">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade mt-5" id="modal-event" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST"  id="form-task" enctype="multipart/form-data"
                data-parsley-validate>
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Add Product</h5>
                    <a href="#" class="btn-close" data-bs-dismiss="modal"></a>
                </div>
                <div class="modal-body">
                    <input type="file" name="image_pro" required>
                </div>
                <div class="modal-body">
                    <label class="form-label">Date</label>
                    <input type="datetime-local" name="Date_P" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="Date_P_id" required />
                </div>
                <div class="modal-body">
                    <label class="form-label">Nome Product</label>
                    <input type="text" name="Nome_P" class="form-control text-dark" style="background-color : #DDDDDD"
                        id="Nome_P_id" required />
                </div>
                <div class="modal-body">
                    <label class="form-label">Description</label>
                    <textarea name="Description_P" class="form-control text-dark" style="background-color : #DDDDDD"
                        id="Description_P_id" required></textarea>
                </div>
                <div class="modal-body">
                    <select class="form-select" style="background-color : #DDDDDD" name="Produit" required>
                        <option selected>Open this select menu</option>
                        <option value="produit cosmétique">produit cosmétique</option>
                        <option value=" COMPLÉMENTS ALIMENTAIRES"> COMPLÉMENTS ALIMENTAIRES</option>
                        <option value="Accessoires et matériel médical">Accessoires et matériel médical</option>
                        <option value="Réactifs et tests">Réactifs et tests</option>
                    </select>
                </div>
                <div class="modal-body">
                    <label class="form-label">Price</label>
                    <input type="text" name="Price_P" class="form-control text-dark" style="background-color : #DDDDDD"
                        id="Price_P_id" required />
                </div>
                <div class="modal-body">
                    <label class="form-label">Sold (option)</label>
                    <input type="number" name="Sold_P" class="form-control text-dark" style="background-color : #DDDDDD"
                        id="Sold_P_id" required />
                </div>
                <div class="modal-body">
                    <label class="form-label">Quantity</label>
                    <input type="text" name="Quantity_P" class="form-control text-dark"
                        style="background-color : #DDDDDD" id="Quantity_P_id" required />
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-white" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" name="saveuser" class="btn btn-primary task-action-btn"
                        id="task-save-btn1">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>