<div class="row bg-white">
    <div class="col-12 bg-white">
        <div class="card">
            <div class="card-body bg-white">
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="card-title">Events</h4>
                        <h5 class="card-subtitle text-muted">Overview of the Events</h5>
                    </div>
                    <div class="mt-1"><button class="btn btn-primary" [routerLink]="'../event/new'">Add
                            event</button></div>
                </div>
                <div class="container mt-4">
                    <div class="row justify-content-center">
                        <div class="col-md-6 d-flex">
                            <div class="input-group">
                                <select class="form-control" id="statusFilter">
                                    <option value="OPEN">Open</option>
                                    <option value="CLOSED">Closed</option>
                                    <option value="IN_PROGRESS">In Progress</option>
                                </select>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary ms-1">Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive bg-white mt-4">
                    <table class="table align-middle text-nowrap bg-white" id="EventsTable">
                        <thead>
                            <tr>
                                <th class="text-dark font-medium fs-4">Name event</th>
                                <th class="text-dark font-medium fs-4">Date</th>
                                <th class="text-dark font-medium fs-4">Start Time</th>
                                <th class="text-dark font-medium fs-4">End Time</th>
                                <th class="text-dark font-medium fs-4">Location</th>
                                <th class="text-dark font-medium fs-4">Total Participants</th>
                                <th class="text-dark font-medium fs-4">Amount</th>
                                <th class="text-dark font-medium fs-4">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let event of EventById">
                                <td>
                                    <h5 class="mb-0 fw-normal">{{ event.nomEvenement | slice:0:10 }} ..</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{event.createdAt}}</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{event.dateDebut}}</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{event.dateFin}}</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{event.localisation | slice:0:10 }} ..</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{event.nombreMaxUser}}</h5>
                                </td>
                                <td>
                                    <h5 class="mb-0 fw-normal">{{event.amount}}$</h5>
                                </td>
                                <td class="d-flex justify-content-evenly"><button type="submit"
                                        class="btn btn-info opacity-75"
                                        [routerLink]="['/dashboard/event', event.id]">View</button>

                                    <button type="submit" class="btn btn-danger ms-1" (click)="deleteEvent(event.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

